<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="page :: head"></head>
<body>
    <div class=''>
 

    <div class="container main-content form">
        <div class="">
          <form action="#" th:action="@{/tintuc}"
		   novalidate="novalidate" >
		 
		    <div class="form-group">
		        <label>user</label> 
		        <input name="user" type="text" class="form-control"/> 
		    </div>
		    <div class="form-group">
		        <label>password</label> 
		        <input name="pass" type="text" class="form-control" />
		    </div>
		    
		    <button type="submit" class="btn btn-primary">Login</button>
		</form>
        </div>
    </div><!-- /.container -->


    </div>
</body>
</html>