<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="page :: head"></head>
<body>
    <div class=''>
   

    <div class="container main-content form">
        <div class="row">
          <form action="#" th:action="@{/tintuc/save}" th:object="${tintuc}"
		    method="POST" novalidate="novalidate">
		    <input type="hidden" th:field="*{id}" />
		    <div class="form-group">
		        <label>Tiêu đề</label> 
		        <input type="text" class="form-control"
		            th:field="*{tieude}" /> 
		    </div>
		    <div class="form-group">
		        <label>Nội dung</label> 
		        <input type="text" class="form-control" th:field="*{noidung}" />
		    </div>
		    <div class="form-group">
		        <label>Ngày</label> 
		        <input type="text" class="form-control" th:field="*{ngay}" />
		    </div>
		    <button type="submit" class="btn btn-primary">Save</button>
		</form>
        </div>
    </div><!-- /.container -->

    
    </div>
</body>
</html>